<div style='padding: 15px;font-family: consolas, "courier new", monospace;font-size: 15px;color:lightslategray;text-align: center;'>
    Hello! This is ngPopup, a super-easy-use AngularJS dialog, you can test some of its functions here.<br><br>
    ngPopup is jQuery-independent, it only rely on AngularJS, and it supports angular two-way binding. Try dragging dialog title bar or slider to see the data binding.<br><br>
    Also, after initialization, you can call ngPopup methods in controller. Try clicking open/close button which would call $scope.myDialog.open()/$scope.myDialog.close().<br><br>
    ngPopup supports two ways to embed contents, template or templateUrl, exactly the same way as AngularJS directive did.<br><br>
    <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" style="width:250px;height:250px;"><br>
    <a href="https://github.com/MarkoCen/ngPopup" style="font-weight: bold;color: #13b6ff;font-size: larger;">Fork me on GitHub!</a>
</div>